server:
  port: 9007
spring:
  application:
    name: basket-service
  data:
    redis:
      host: localhost
      port: 6379
eureka:
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:9000/eureka
  instance:
    instance-id: ${spring.application.name}:${instanceId:${random.value}}
    preferIpAddress: true